@charset "UTF-8";

* {
	/* 枠線・うち余白を込みで計算*/
	box-sizing: border-box;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

html {
	/* 基準フォントサイズを16px */
	font-size: 100%;
}

body {
	color: #444;
	background-color: #F7F6EA;
	font-family: "ヒラギノ角ゴ Pro W3", "Yu Gothic Medeium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}


#title {
	padding: 30px 0;
	text-align: center;
}

#title a {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: #444;
	margin: 0 20px;
}

#title a h1 {
	font-size: 2.4rem;
}

.sub-nav {
	background-color: #1D0E0B;
	width: 100%;
	bottom: 0;
}

.sub-nav ul {
	display: flex;
}

.sub-nav ul li {
	list-style: none;
	width: 25%;
	text-align: center;

}

.sub-nav ul li a {
	display: block;
	padding: 0.8rem;
	text-decoration: none;
	color: #F7F6FA;
	background-color: #1D0E0B;
}



nav {
	height: 100%;
}

nav ul {
	list-style: none;
}

nav ul li {
	display: block;
	/*    background-color: #ebe27f;*/
}

nav ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	color: #F7F6FA;
	/*    margin: 10px 0;*/
	background-color: #1D0E0B;
	padding: .80rem 0;
	font-size: .8rem;
}


.nav {
	transform: translate3d(-170px, 0, 0);
	transition: transform .5s;
}


nav,
.sub-nav {
	background-color: #1D0E0B;
	width: 100%;
	bottom: 0;
}

nav ul,
.sub-nav ul {
	display: flex;
}

nav ul li,
.sub-nav ul li {
	list-style: none;
	width: 25%;
	text-align: center;

}

nav ul li a,
.sub-nav ul li a {
	display: block;
	padding: 1rem .8rem;
	text-decoration: none;
	color: #F7F6FA;
	background-color: #1D0E0B;
}


#sub-title {
	color: #F7F6FA;
	text-align: center;
	padding: 50px 0;
	font-size: 1.2em;
	background-size: 100%;
	background-image: url(../images/guitar.jpg);
}


#sub-title h1,
#sub-title h5 {
	background-color: rgba(180, 41, 29, .3);
}

#sub-title h5 {
	padding-bottom: 8px;
}

main {
	line-height: 1.7;
}

img {
	width: 100%;
}

.btn {
	color: #fff;
	background-color: #444;
	border: 2px solid #000;
	border-radius: 4px;
	width: 80%;
	margin-left: 10%;
	height: 60px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	/*  line-height: 54px;*/
	outline: none;
}

.btn::before,
.btn::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}

.btn,
.btn::before,
.btn::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}

select {
	background-color: #fff;
	width: 26px;
	border: 1px solid #333;
	-webkit-appearance: auto;
}

.tbl {
	width: 80%;
	border-collapse: collapse;
	border: 2px solid #555;
}

.tbl th,
.tbl td {
	border: 2px solid #555;
	text-align: center;
}

.tbl td input {
	background-color: #fff;
	border: 1px solid #333;
	width: 70%;
	margin: auto;
}

.tbl td textarea {
	background-color: #fff;
	border: 1px solid #333;
	width: 70%;
	margin: 7%;
	resize: none;
}

.tbl caption {
	font-size: 1rem;
	text-align: right;
}

footer {
	background-color: #e2f9b9;
	text-align: center;
	color: #444;
	padding: 15px 0;
}


/* レスポンシブ対応 */
/* 最小幅600px以上のデザイン */
/* メディアクエリ */
/* ブレイクポイント */
@media (min-width: 600px) {

	#title {
		display: flex;
	}

	#title a {
		display: flex;
		flex-direction: row;
		width: 60%;
		margin-left: 20px;
	}

	#title a h1 {
		margin: auto 15px;
		;
	}

	#title a h3 {
		margin: auto 0;
		vertical-align: bottom;
	}

	#menu {
		visibility: hidden;
	}

	#nav {
		position: inherit;
		margin: 0;
		width: 100%;
	}

	#nav ul {
		display: flex;
	}

	#nav ul li {
		width: 25%;
		margin: 0;
	}

	#nav ul li a {
		margin: 0;
		font-size: 1.4rem;
	}

	#nav ul li a:hover {
		background-color: #f8f1a0;
		color: #444;
		transition: .3s;
	}




	.sub-nav {
		display: none;
	}

	#sub-title h1 {
		font-size: 4rem;
	}

	#sub-title h5 {
		font-size: 1.2rem;
	}

	.sub-nav ul li {
		margin: 0 10px;
	}

	.btn {
		position: relative;
		z-index: 2;
		background-color: #333;
		border: 2px solid #333;
		color: #fff;
		line-height: 50px;
	}

	.btn:hover {
		background-color: #fff;
		border-color: #444;
		color: #444;
	}

}
