@charset "UTF-8";

* {/* 枠線・うち余白を込みで計算*/
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

table {
/*    margin: 20px auto;*/
}

.tbl {
    font-size: 0.8rem;
}

.th1 {
    width: 20%;

}

.th2 {
    width: 25%;
}

.th3 {
    width: 55%;
}

tr {
    text-align: center;
    height: 3rem;
    
}

tr th {
    font-size: 0.8rem;
}

tr td {
    font-size: 1rem;
}

main p {
    margin: 30px 10%;
}

.btn {
    margin: 30px 10%;
}

/* レスポンシブ対応 */
/* 最小幅600px以上のデザイン */
/* メディアクエリ */
/* ブレイクポイント */
@media (min-width: 600px) {

    main {
        margin: 2rem 15% 0;
    }

    article {
        display: flex;
        margin-top: 30px;
    }

    article p {
        width: 50%;
        margin: 0;
        font-size: 1.1rem;
    }

    article table {
        width: 40%;
        margin-left: 5%;
    }

    .tbl th,
    .tbl td {
        font-size: 1.3rem;
    }

    .btn {
        margin-top: 100px;
    }

}
