@charset "UTF-8";

* {
    /* 枠線・うち余白を込みで計算*/
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

html {
    /* 基準フォントサイズを16px */
    font-size: 100%;
}

body {
    color: #444;
    background-color: #F7F6EA;
    font-family: "ヒラギノ角ゴ Pro W3", "Yu Gothic Medeium", "游ゴシック Medium", YuGothic, "游ゴシック体", sans-serif;
}


#title {
    padding: 30px 0;
    text-align: center;
}

#title a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #444;
    margin: 0 20px;
}

#title a h1 {
    font-size: 2.4rem;
}

nav,
.sub-nav {
    background-color: #1D0E0B;
    width: 100%;
    bottom: 0;
}

nav ul,
.sub-nav ul {
    display: flex;
}

nav ul li,
.sub-nav ul li {
    list-style: none;
    width: 25%;
    text-align: center;
    
}

nav ul li a,
.sub-nav ul li a {
    display: block;
    padding: 0.8rem;
    text-decoration: none;
    color: #fff;
    background-color: #1D0E0B;
}


#sub-title {
    color: #fff;
    text-align: center;
    padding: 50px 0;
    font-size: 1.2em;
    background-size: 100%;
    background-image: url(../images/guitar.jpg);
}


#sub-title h1,
#sub-title h5 {
    background-color: rgba(180, 41, 29, .3);
}

#sub-title h5 {
    padding-bottom: 8px;
}

main {
    line-height: 1.7;
}

img {
    width: 100%;
}

.btn {
    color: #fff;
    background-color: #444;
    border: 2px solid #000;
    border-radius: 4px;
    width: 80%;
    margin-left: 10%;
    height: 60px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    /*  line-height: 54px;*/
    outline: none;
}

.btn::before,
.btn::after {
    position: absolute;
    z-index: -1;
    display: block;
    content: '';
}

.btn,
.btn::before,
.btn::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
}

select {
    background-color: #fff;
    width: 26px;
    border: 1px solid #333;
    -webkit-appearance: auto;
}

.tbl {
    width: 80%;
    border-collapse: collapse;
    border: 2px solid #555;
}

.tbl th,
.tbl td {
    border: 2px solid #555;
    text-align: center;
}

.tbl td input {
    background-color: #fff;
    border: 1px solid #333;
    width: 85%;
    margin: auto;
}

.tbl td textarea {
    background-color: #fff;
    border: 1px solid #333;
    width: 85%;
    margin: 7%;
    resize: none;
}

.tbl caption {
    font-size: 1rem;
    text-align: right;
}

.empty-tbl {
    width: 50%;
    height: 1.8px;
    background-color: #555;
    content: "";
    display: block;
}

footer {
    background-color: #e2f9b9;
    text-align: center;
    color: #444;
    padding-bottom: 3.5rem;
}


/* レスポンシブ対応 */
/* 最小幅600px以上のデザイン */
/* メディアクエリ */
/* ブレイクポイント */
@media (min-width: 600px) {

    #title a {
        display: flex;
        flex-direction: row;
        width: 60%;
        margin-left: 20px;
    }

    #title a h1 {
        margin: auto 15px;
        ;
    }

    #title a h3 {
        margin: auto 0;
        vertical-align: bottom;
    }

    .nav a:hover {
        background-color: #f8f1a0;
        color: #444;
        transition: .3s;
    }


    .sub-nav {
        display: none;
    }

    #sub-title h1 {
        font-size: 4rem;
    }

    #sub-title h5 {
        font-size: 1.2rem;
    }

    .sub-nav ul li {
        margin: 0 10px;
    }

    .btn {
        position: relative;
        z-index: 2;
        background-color: #333;
        border: 2px solid #333;
        color: #fff;
        line-height: 50px;
    }

    .btn:hover {
        background-color: #fff;
        border-color: #444;
        color: #444;
    }

    .btn::before,
    .btn::after {
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #333;
    }

    .btn::before {
        right: 0;
    }

    .btn::after {
        left: 0;
    }

    .btn:hover::before,
    .btn:hover::after {
        width: 0;
        background-color: #444;
    }

}
