@charset "UTF-8";

* {/* 枠線・うち余白を込みで計算*/
    box-sizing: border-box;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
}

main h3 {
    font-size: 18px;
    margin: 100px auto 120px;
}

.btn {
    margin-left: 0;
    margin-bottom: 70px;
}

/* レスポンシブ対応 */
/* 最小幅600px以上のデザイン */
/* メディアクエリ */
/* ブレイクポイント */
@media (min-width: 600px) {
    .btn:hover {
        color: #444;
        background-color: #f8f6f9;
        transition: .4s;
    }
    
    .btn {
        width: 50%;
        margin: 40px 25% 50px;
    }
}